.grant {
  width: 100%;
  height: 5rem;
}

.grant__block {
  margin: 1rem auto;
  padding-left: 2rem;
  width: 100%;
  max-width: 1224px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grant__logo {
  margin-right: 2rem;
  height: 5rem;
}

.grant__text {
  font-size: 1.7rem;
  font-weight: bold;
}