.item {
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
    margin: 1rem 0;
}
.item__img {
    margin-right: 1rem;
}
.item__img img{
    width: 6rem;
    height: 6rem;
    border-radius: 20%;
    background-size: cover;
}

.item__message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__text {
    font-size: 1.6rem;
}

.item__like {
    font-size: 1.2rem;
    color: rgb(138, 138, 138);
}

.item__like span{
    color: rgb(138, 138, 138);
}