.logo {
  margin: 0 auto;
  max-width: 1224px;
  display: flex;
  font-size: 1.4rem;
}

.logo__img {
  background: url('img/saristoch-logo.svg') no-repeat;
  background-size: cover;
  width: 13rem;
  height: 15rem;
}

.logo__address {
  background: rgba(255, 255, 255, 0.4);
  margin-left: 2rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.logo__h1 {
  position: absolute;
  top: 24rem;
  color: white;
  font-size: 4rem;
}

.logo__link {
  color: black;
  text-decoration: none;
}

.logo__link:hover {
  color: #1176AB;
  font-size: 1.6rem;
}

.logo__link:active {
  color: #A58304;
}