.menu_top__list {
  display: flex;
  list-style-type: none;
  font-size: 1.6rem;
}

.menu_top__item {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #1654a7;
  border-radius: 2rem;
  cursor: pointer;
}

.menu_top__item:hover {
  background-color: #4A83D3;
}

.menu_top__item:active {
  background-color: #A58304;
}

/* .active {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #07326D;
  border-radius: 2rem;
} */

.menu_top__link {
  color: white;
  text-decoration: none;
}