.navbar {
  width: 23rem;
  background-color: rgb(179, 206, 248);
}

.needs {
  padding: 1.2rem;
  text-align: center;
  background: #5384D2;
  text-transform: uppercase;
  color: white;
  font-size: 1.7rem;
}

.navbar__list {
  padding: 1rem;
  font-size: 1.6rem;
}

.navbar__item {
  cursor: pointer;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  list-style-type: none;
}

.navbar__link {
  color: #0A306B;
  text-decoration: none;
}

.navbar__link:hover {
  color: white;
}

.navbar__link:active {
  color: #FACE1C;
}