.h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1654a7;
  text-transform: uppercase;
}

.h4 {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

.content p {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

span {
  color: #1654a7;
}