* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

body {
  background: #f2f2f2;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #DCDCDC;
}

.main__block {
  width: 100%;
  height: 100%;
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
  padding: 2rem;
  background-color: rgb(245, 247, 252);
  display: inline-block;
  font-size: 1.4rem;
  text-align: justify;
}


