.h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.postsBlock__textarea textarea{
    border: 1px solid rgb(97, 30, 30);
}

.postsBlock__button button {
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    background-color: #1654a7;
    border: 0;
}

.postsBlock__button button:hover {
    background-color: #4A83D3;
}

.postsBlock__button button:active {
    background-color: #A58304;
}